<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="mysql" defaultModelType="flat" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="UTF-8" />

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
            connectionURL="jdbc:mysql://localhost:3306/FORUM?useSSL=false" userId="root" password="123456">
            <property name="nullCatalogMeansCurrent" value="true" />
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.barlala.forum.entity" targetProject="src/main/java">
            <property name="constructorBased" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources" />

        <javaClientGenerator targetPackage="com.barlala.forum.dao" type="XMLMAPPER" targetProject="src/main/java" />

        <table tableName="Reply">
            <property name="useActualColumnNames" value="true" />
        </table>
        <table tableName="Section">
            <property name="useActualColumnNames" value="true" />
        </table>
        <table tableName="Topic">
            <property name="useActualColumnNames" value="true" />
        </table>
        <table tableName="User">
            <property name="useActualColumnNames" value="true" />
        </table>

    </context>

</generatorConfiguration>